{% extends "::base.html.twig" %}

{% block title %}TechLancaster | Community Resources{% endblock %}

{% block navlinks %}
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/resources">Resources for Meetups <span class="sr-only">(current)</span></a></li>
        <li><a href="/#calendar">Calendar</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/meetup">Next TL -  Nov. 17</a></li>
        <li><a href="https://twitter.com/techlancaster" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="https://github.com/techlancaster" target="_blank"><i class="fa fa-github-square"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC1J672VqnvOrqZejHlE2F1g" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
    </ul>
{% endblock %}

{% block main %}
    <main role="main">
        <section class="tl-bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Community and Meetup Resources</h1>
                        <p>Right now we're developing these resources over on Github.
                            We'll add them here when they're ready.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 text-center">
                        <a class="attention-box" href="https://github.com/TechLancaster/community/issues">
                            TechLancaster on Github
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
