{% extends "::base.html.twig" %}

{% block title %}TechLancaster | Community Resources{% endblock %}

{% block main %}
    <main role="main">
        <section class="tl-bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1>Community and Meetup Resources</h1>
                        <p>Right now we're developing these resources over on Github.
                            We'll add them here when they're ready.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4 text-center">
                        <a class="attention-box" href="https://github.com/TechLancaster/community/issues">
                            TechLancaster on Github
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
