/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/*
!/bin/quickstart.php
!/bin/deploy.sh
/composer.phar
.gems
.idea
calendar-api-quickstart.json
client_secret.json
events.json
