{% extends "layout.twig" %}

{% block main %}
<main>
    <section class="tl-bg-gray tl-section-cal">
        <h1 class="tl-section-header tl-bg-light-blue">Event Fetcher</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{ message }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
