<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Technology,Lancaster,Coding,Programming,Meetup">

    <title>Tech Lancaster</title>

    {% include 'topscripts.html' %}
</head>
<body>
    <div class="container-fluid">

        {% include 'header.html' %}

        <div class="row tl-bg-grey">
            <div class="col-sm-6 col-sm-offset-2">
                Bacon ipsum dolor amet sirloin ut sausage, ut boudin flank picanha ullamco minim. Pork loin alcatra dolore sirloin. Shoulder rump turducken bresaola drumstick pariatur eiusmod, sunt dolore kielbasa t-bone leberkas. Short loin magna venison doner ball tip. Lorem salami andouille dolore sunt laborum pariatur corned beef biltong pork ut. Biltong cupim tri-tip, boudin irure short loin ad jerky veniam alcatra porchetta in.
            </div>
            <div class="col-sm-2 text-right tl-social">
                Resources For Meetups
                <span class="tl-social-icons">
                    <a href="https://github.com/TechLancaster" target="_blank"><img src="images/Github.png" /></a>
                    <a href="http://twitter.com/techlancaster" target="_blank"><img src="images/Twitter.png" /></a>
                </span>
            </div>
        </div>
        <div class="row text-center tl-bg-gold tl-section-header">
            Community Meetups
        </div>
        <div class="row tl-bg-light-blue">
            <div class="tl-event-tiles">
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
                <div class="col-sm-6 col-md-4 tl-event-tile">
                    <div class="tl-meetup-date">8/16</div>
                    <div class="tl-meetup-name">Hack Night</div>
                    <div class="tl-meetup-time-location">6pm | Co-modo</div>
                    <div class="tl-meetup-website"><a href="http://hacklancaster.net">hacklancaster.net</a></div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </div>
    {% include 'bottomscripts.html'%}
</body>
</html>
