<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tech Lancaster</title>
</head>
<body>
    {% include 'header.html' %}

    Here is the content.

    {% include 'footer.html' %}
</body>
</html>
