<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Technology,Lancaster,Coding,Programming,Meetup">

    <title>Tech Lancaster</title>

    {% include 'topscripts.html' %}
</head>
<body>
    {% include 'header.html' %}

    <main role="main">
        <section class="tl-bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        Bacon ipsum dolor amet sirloin ut sausage, ut boudin flank picanha ullamco minim. Pork loin alcatra dolore sirloin. Shoulder rump turducken bresaola drumstick pariatur eiusmod, sunt dolore kielbasa t-bone leberkas. Short loin magna venison doner ball tip. Lorem salami andouille dolore sunt laborum pariatur corned beef biltong pork ut. Biltong cupim tri-tip, boudin irure short loin ad jerky veniam alcatra porchetta in.
                    </div>

                    <div class="col-sm-4">
                        <div class="col-sm-12">
                            <a href="/resources" class="tl-button" >Resources For Meetups</a>
                        </div>

                        <div class="col-sm-12 row text-center">
                            <a href="https://github.com/TechLancaster" target="_blank" class="col-sm-6">
                                <img src="images/Github.png" alt="Github" />
                            </a>

                            <a href="http://twitter.com/techlancaster" target="_blank" class="col-sm-6">
                                <img src="images/Twitter.png" alt="Twitter" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- section.tl-bg-gray -->

        <section class="tl-bg-light-blue tl-section-cal">
            <h1 class="tl-bg-gold tl-section-header">Community Meetups</h1>

            <div class="container">
                <div class="row tl-event-tiles">
                    {% for i in 1..12 %}
                    <article class="col-md-4 col-sm-6 tl-event-tile">
                        <time class="tl-et-date" datetime="2015-08-16 18:00">8/16</time>

                        <h2 class="tl-et-name">Hack Night</h2>

                        <p class="tl-et-meta">
                            <time datetime="2015-08-16 18:00">6pm</time> | Co-modo
                        </p>

                        <p class="tl-et-link">
                            <a href="http://hacklancaster.net">hacklancaster.net</a>
                        </p>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

    {% include 'bottomscripts.html'%}
</body>
</html>
