<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Technology,Lancaster,Coding,Programming,Meetup">

    <title>{% block title %}Tech Lancaster{% endblock %}</title>

    {% include 'topscripts.html' %}
</head>
<body>
    {% block header %}
        <header role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>
                            <a href="/">
                                <img src="images/TechLancaster_Logo.png" class="img-responsive center-block logo" alt="Tech Lancaster" />
                            </a>
                        </h1>

                        <p class="tl-tagline" >
                            Supporting the tech community in Lancaster.
                        </p>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {# TODO this should eventually be re-implemented so that we don't have to duplicate
              links just to set a CSS class #}
          {% block navlinks %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/resources">Resources for Meetups</a></li>
            <li><a href="/#calendar">Calendar</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/meetup">Next TL -  Oct. 20</a></li>
            <li><a href="https://twitter.com/techlancaster" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
            <li><a href="https://github.com/techlancaster" target="_blank"><i class="fa fa-github-square"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC1J672VqnvOrqZejHlE2F1g"  target="_blank"><i class="fa fa-youtube-square"></i></a></li>
          </ul>
          {% endblock %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block main %}
    {% endblock %}

    {% include 'footer.html' %}

    {% include 'bottomscripts.html'%}
</body>
</html>
