{% extends "layout.twig" %}

{% block title %}TechLancaster | Community Resources{% endblock %}

{% block navlinks %}
<ul class="nav navbar-nav">
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/resources">Resources for Meetups <span class="sr-only">(current)</span></a></li>
  <li><a href="/#calendar">Calendar</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="/meetup">Next TL -  Oct. 20</a></li>
  <li><a href="https://twitter.com/techlancaster" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
  <li><a href="https://github.com/techlancaster" target="_blank"><i class="fa fa-github-square"></i></a></li>
  <li><a href="https://www.youtube.com/channel/UC1J672VqnvOrqZejHlE2F1g"  target="_blank"><i class="fa fa-youtube-square"></i></a></li>
</ul>
{% endblock %}

{% block main %}
    <h1 class="text-center">Coming Soon</h1>
{% endblock %}
