$light-blue: #2d83ba;
$orange: #F09740;
$dark-blue: #053E4C;
$grey: #242A2F;
$text: #FFF;

body {
    color: $text;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
a {
    font-family: "Lato", sans-serif;
    font-style: italic;
    color: $text;
    &:hover, &:active, &:focus {
        color: $text;
    }
}

.tl-header {
    background-image: url("../images/header_overlay.jpg")
}
.tl-footer {
    font-size: .8em;
    padding: 15px;
}

.tl-section-header {
    font-family: "Oswald", sans-serif;
    font-size: 1.75em;
    text-transform: capitalize;
}

.tl-event-tiles {
    max-width: 1000px;
    margin: 0 auto;
}
/* event tiles checker pattern */
.tl-event-tiles .col-md-4:nth-of-type(2n+1) {
    background-color: $dark-blue;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .tl-event-tiles {
        .col-md-4:nth-of-type(2n+1) {
            background-color: inherit;
        }
        .col-md-4:nth-of-type(4n+1), .col-md-4:nth-of-type(4n+4) {
            background-color: $dark-blue;
        }
    }
}
.tl-event-tile {
    padding-top: 25px;
    padding-bottom: 40px;
    .tl-meetup-date {
        font-size: 2em;
    }
    .tl-meetup-name {
        font-size: 1.45em;
        height: 2.5em;
    }
    .tl-meetup-time-location {
        color: $orange;
    }
}

.tl-social {
    color: $orange;
    .tl-social-icons img {
        margin-top: 15px;
        height: 2.5em;
    }
}

.tl-bg-gold {
    background-color: $orange;
}
.tl-bg-grey {
    background-color: $grey;
}
.tl-bg-light-blue {
    background-color: $light-blue;
}
