// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

//
// Sections
// --------------------------------------------------
header {
    background-image: url("../images/header_overlay.jpg");
    padding: $padding-large 0;

    p.tl-tagline {
        text-align: center;
        font-style: italic;
    }
}

.tl-bg-gold {
    background-color: $brand-success;
}

.tl-bg-gray {
    background-color: $gray;
}

.tl-bg-light-blue {
    background-color: $body-bg;
}

section {
    padding: $padding-large 0;

    &.tl-section-cal {
        padding: 0;
    }
}

.tl-section-header {
    padding: $padding-small 0;
    text-align: center;
    margin: 0;
}

footer {
    font-size: .8em;
    padding: 15px;
    background-color: $gray;
    text-align: center;
}

//
// Content
// --------------------------------------------------
h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

a {
  color: $light-blue;
  transition: color 0.3s, background 0.3s, border 0.3s, text-decoration 0.3s;
}

/* event tiles checker pattern */
.tl-event-tile:nth-of-type(2n+1) {
    background-color: $brand-primary;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .tl-event-tile:nth-of-type(2n+1) {
        background-color: inherit;
    }
    .tl-event-tile:nth-of-type(4n+1), .tl-event-tile:nth-of-type(4n+4) {
        background-color: $brand-primary;

      a {
        color: $light-blue;
        &:hover {
          color: darken($light-blue, 15%);
        }
      }
    }
}

.tl-event-tile {
    padding-top: 30px;
    padding-bottom: 30px;

    time.tl-et-date {
        font-family: "Oswald", Georgia, "Times New Roman", serif;
        font-size: 40px;
        font-weight: bold;
    }

    h2.tl-et-name {
        margin: 0 0 1.5em;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        height: initial;
        overflow: visible;
    }

    p {
        margin: 0;

        &.tl-et-meta {
            color: $brand-success;
            height: initial;
            overflow: visible;

            a {
              color: $brand-success;

              &:hover {
                color: darken($brand-success, 15%);
              }
            }
        }

        &.tl-et-link {
          height: initial;
          overflow: visible;
        }
    }
}

@media (min-width: 768px) {
  .tl-event-tile {
    h2.tl-et-name {
      height: 87px;
      overflow: hidden;
    }
    p.tl-et-meta {
      height: 54px;
      overflow: hidden;
    }

    p.tl-et-link {
      height: 81px;
      overflow: hidden;
    }
  }
}

.tl-special-tile {
  background: $brand-success;
  //TODO: fix this absolute height...
  height: 382.5px;
  text-align: center;

  a {
    display: block;
    color: white;
    font-family: "Oswald", Georgia, "Times New Roman", serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* vertical center */
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}

.tl-button {
  display: block;
  margin: 2em;
  padding: ($padding / 2) $padding;
  color: $light-blue;
  border: 2px solid $light-blue;
  background: $gray;
  text-align: center;

  &:hover {
    //border-color: $brand-success;
    color: $gray;
    background: $light-blue;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .tl-button {
    display: inline-block;
    margin: 1em 0 0;
  }
}

.tl-social-icons {
  a + a {
    margin-top: 2em;
  }
}

@media (min-width: 768px) {
  .tl-social-icons {
    @include vertical-align;
    position: absolute;
  }
}

//
// Meetup Page
// --------------------------------------------------
.tl-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .tl-list {
  }
}
@media (min-width: 992px) {
  .tl-list {
    width: 90%;
    margin: 0 auto 3em;
  }
}

.tl-meetup {
  .tl-bg-gray {
    text-align: center;
  }
}

.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
}

.flex-row-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex: 0;
}

.flex-row > div[class*='col-'], .container-flex > div[class*='col-'] {
  margin: -.2px;
}

.flex-row > div[class*='col-'] div, .container-flex > div[class*='col-'] div {
  width: 100%;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}
